{% extends 'pizza/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container d-flex  flex-column col-12 col-sm-6  border border-dark rounded mt-5">
        <div class="row card-header bg-danger text-bg-dark d-flex justify-content-center">
            <h1 class="text-center text-light">Order Pizza</h1>
        </div> 

         
        <div class="container" >
            <form action="{% url 'order' %}" method="POST">
                    {% csrf_token %}
                    <div class="row mt-1">
                        <div class="col-md-6">{{pizzaform.topping1|as_crispy_field}}</div>
                        <div class="col-md-6">{{pizzaform.topping2|as_crispy_field}} </div>
                        <div class="col-md-6 ">
                            {{pizzaform.size|as_crispy_field}}  
                        </div>
                        <div class="col-md-2 d-flex  align-items-center mt-3">
                            <input class="btn btn-success" type="submit" value="Order Pizza">
                        </div> 
                    </div>
            </form>
            <hr>
            <div>
                <form action="{% url 'pizzas' %}", method="GET" >
                    <h3>Want more than one pizza?</h3>
                    <div class="row d-flex  align-items-center">
                        <div class="col-md-4 ">
                            {{ multiple_form.number | as_crispy_field }} 
                        </div>
                        
                        <div class="col-md-4 mt-3">
                            <input class="btn btn-primary " type="submit" value="Get Pizzas">
                        </div>
                        
                    </div> 
                </form>
            </div>
        </div>
        <div class="messages container">
            <div class="messages ">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <p {% if message.tags %} class="text-center alert alert-{{ message.tags }}" {% endif %}>
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important:{% endif %}
                                {{ message }}
                            </p>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div>
                {% if created_pizza_pk %}
                    <div class="text-center">
                        <a class="btn btn-secondary btn-md mb-3" href="{% url 'edit_order' created_pizza_pk %}">Edit Your Order</a>
                    </div> 
                {% endif %}
            </div>
    </div>
{% endblock %}


